In [1]:
import pandas as pd

### Plik z Kaggle

In [2]:
sam_sub = pd.read_csv("sample_submission.csv")

In [15]:
sam_sub.head(10)

            file     species
0  0021e90e4.png  Sugar beet
1  003d61042.png  Sugar beet
2  007b3da8b.png  Sugar beet
3  0086a6340.png  Sugar beet
4  00c47e980.png  Sugar beet
5  00d090cde.png  Sugar beet
6  00ef713a8.png  Sugar beet
7  01291174f.png  Sugar beet
8  026716f9b.png  Sugar beet
9  02cfeb38d.png  Sugar beet

In [5]:
sam_sub.species.value_counts()

Sugar beet    794
Name: species, dtype: int64

Naszym zdaniem nie jest on poprawny, kazdy z obrazkow przypisany jest tu do jednego gatunku,
(juz na pierwszy rzut oka patrząc na obrazki, widać że nie naleza one do jednego gatunku)

#### Nasz wygenerowany plik:

In [8]:
pred = pd.read_csv("Prediction.csv")

In [16]:
pred.head(10)

            file            Species
0  1b490196c.png    Shepherds Purse
1  85431c075.png        Black-grass
2  506347cfe.png           Charlock
3  7f46a71db.png         Sugar beet
4  668c1007c.png           Charlock
5  71f5323c5.png   Loose Silky-bent
6  1f3f44563.png              Maize
7  beebe5f4e.png  Scentless Mayweed
8  780defa2e.png   Common Chickweed
9  df521c0c0.png   Loose Silky-bent

In [12]:
pred.Species.value_counts()

Loose Silky-bent             114
Common Chickweed             102
Scentless Mayweed             89
Small-flowered Cranesbill     80
Sugar beet                    78
Fat Hen                       63
Charlock                      62
Cleavers                      48
Black-grass                   47
Shepherds Purse               43
Maize                         36
Common wheat                  32
Name: Species, dtype: int64

#### Plik znaleziony na Kaggle (z nim bedziemy porownywac nasz plik)

In [13]:
sub = pd.read_csv("submission1.csv")

In [17]:
sub.head(10)

            file                    species
0  1b490196c.png  Small-flowered Cranesbill
1  85431c075.png           Loose Silky-bent
2  506347cfe.png                   Cleavers
3  7f46a71db.png                 Sugar beet
4  668c1007c.png                   Charlock
5  71f5323c5.png           Loose Silky-bent
6  1f3f44563.png                      Maize
7  beebe5f4e.png          Scentless Mayweed
8  780defa2e.png           Common Chickweed
9  df521c0c0.png           Loose Silky-bent

In [18]:
sub.species.value_counts()

Loose Silky-bent             165
Small-flowered Cranesbill    125
Fat Hen                      118
Common Chickweed              84
Charlock                      70
Scentless Mayweed             70
Cleavers                      51
Sugar beet                    47
Maize                         22
Common wheat                  18
Shepherds Purse               12
Black-grass                   12
Name: species, dtype: int64

#### Łączymy 2 tabele w jedna "po"nazwie pliku

In [22]:
predsub = pd.merge(pred, sub, on = "file")
predsub.head(10)

            file            Species                    species
0  1b490196c.png    Shepherds Purse  Small-flowered Cranesbill
1  85431c075.png        Black-grass           Loose Silky-bent
2  506347cfe.png           Charlock                   Cleavers
3  7f46a71db.png         Sugar beet                 Sugar beet
4  668c1007c.png           Charlock                   Charlock
5  71f5323c5.png   Loose Silky-bent           Loose Silky-bent
6  1f3f44563.png              Maize                      Maize
7  beebe5f4e.png  Scentless Mayweed          Scentless Mayweed
8  780defa2e.png   Common Chickweed           Common Chickweed
9  df521c0c0.png   Loose Silky-bent           Loose Silky-bent

In [26]:
Species = []
species = []
for x in predsub.Species:
    Species.append(x)
    
for x in predsub.species:
    species.append(x)

In [31]:
truefalse = []
for x,y in zip(Species, species):
    if x == y:
        truefalse.append("true")
    else:
        truefalse.append("false")

In [33]:
predsub["spr"] = truefalse

In [34]:
predsub.head(10)

            file            Species                    species    spr
0  1b490196c.png    Shepherds Purse  Small-flowered Cranesbill  false
1  85431c075.png        Black-grass           Loose Silky-bent  false
2  506347cfe.png           Charlock                   Cleavers  false
3  7f46a71db.png         Sugar beet                 Sugar beet   true
4  668c1007c.png           Charlock                   Charlock   true
5  71f5323c5.png   Loose Silky-bent           Loose Silky-bent   true
6  1f3f44563.png              Maize                      Maize   true
7  beebe5f4e.png  Scentless Mayweed          Scentless Mayweed   true
8  780defa2e.png   Common Chickweed           Common Chickweed   true
9  df521c0c0.png   Loose Silky-bent           Loose Silky-bent   true

In [35]:
predsub.spr.value_counts()

true     573
false    221
Name: spr, dtype: int64

In [37]:
573/len(predsub)

0.7216624685138538

Mamy 72,16 % dobrych wskazań

#### Porównajmy z jeszcze jednym plikiem z Kaggle wykonując te same czynności:

In [38]:
sub = pd.read_csv("sub.csv")
sub.head(10)

            file                    species
0  26e7ae885.png                    Fat Hen
1  e80a259c5.png  Small-flowered Cranesbill
2  3f64c2c1b.png               Common wheat
3  1312065a5.png  Small-flowered Cranesbill
4  47b7d8e17.png  Small-flowered Cranesbill
5  c0f5d9ac8.png  Small-flowered Cranesbill
6  ab0f67743.png                Black-grass
7  da9ef7858.png                   Charlock
8  5f04aed97.png  Small-flowered Cranesbill
9  fba8fc78a.png                Black-grass

In [39]:
predsub = pd.merge(pred, sub, on = "file")
predsub.head(10)

            file            Species            species
0  1b490196c.png    Shepherds Purse    Shepherds Purse
1  85431c075.png        Black-grass   Loose Silky-bent
2  506347cfe.png           Charlock           Charlock
3  7f46a71db.png         Sugar beet         Sugar beet
4  668c1007c.png           Charlock           Charlock
5  71f5323c5.png   Loose Silky-bent   Loose Silky-bent
6  1f3f44563.png              Maize              Maize
7  beebe5f4e.png  Scentless Mayweed  Scentless Mayweed
8  780defa2e.png   Common Chickweed   Common Chickweed
9  df521c0c0.png   Loose Silky-bent   Loose Silky-bent

In [40]:
Species = []
species = []
for x in predsub.Species:
    Species.append(x)
    
for x in predsub.species:
    species.append(x)
    
truefalse = []
for x,y in zip(Species, species):
    if x == y:
        truefalse.append("true")
    else:
        truefalse.append("false")
        
predsub["spr"] = truefalse
predsub.head(10)

            file            Species            species    spr
0  1b490196c.png    Shepherds Purse    Shepherds Purse   true
1  85431c075.png        Black-grass   Loose Silky-bent  false
2  506347cfe.png           Charlock           Charlock   true
3  7f46a71db.png         Sugar beet         Sugar beet   true
4  668c1007c.png           Charlock           Charlock   true
5  71f5323c5.png   Loose Silky-bent   Loose Silky-bent   true
6  1f3f44563.png              Maize              Maize   true
7  beebe5f4e.png  Scentless Mayweed  Scentless Mayweed   true
8  780defa2e.png   Common Chickweed   Common Chickweed   true
9  df521c0c0.png   Loose Silky-bent   Loose Silky-bent   true

In [41]:
predsub.spr.value_counts()

true     762
false     32
Name: spr, dtype: int64

In [42]:
762/len(predsub)

0.9596977329974811

W tym przypadku mmay aż 96 % zgodności.